.players {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-grow: 1;

  > * {
    background-color: $player1;

    &:nth-child(2) {
      background-color: $player2;
    }
  }

  @import 'player';
}
