<section class="players">
<!--  <div class="player" style="background-image: url(/assets/IMG_0157.JPG);">-->
  <div class="player">
    <figure class="score">
      10
      <figcaption>Zachery</figcaption>
    </figure>
  </div>

<!--  <div class="player" style="background-image: url(/assets/IMG_0156.JPG);" data-serving>-->
  <div class="player" data-serving>
    <figure class="score">
      10
      <figcaption>Ryland</figcaption>
    </figure>
  </div>
</section>

<section class="stats">
  <header>
    <span>Stats</span>
  </header>

  <section class="last-game">
    <header>Last Game</header>

    <figure class="score">
      10
      <figcaption>Zachery</figcaption>
    </figure>

    <figure class="score">
      10
      <figcaption>Ryland</figcaption>
    </figure>
  </section>

  <section class="overall">
    <header>Head to Head</header>

    <figure class="score">
      5
      <figcaption>Zachery</figcaption>
    </figure>

    <figure class="score">
      5
      <figcaption>Ryland</figcaption>
    </figure>
  </section>
</section>
